.container {
  height: 100%;

  .card_container {
    .card_item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px;
      height: 100%;
      color: var(--theme-color);
      background-color: var(--theme-backgroundColor);
      border-radius: 8px;
      box-shadow:
        0 1px 2px 0 rgba(0, 0, 0, 0.03),
        0 1px 6px -1px rgba(0, 0, 0, 0.02),
        0 2px 4px 0 rgba(0, 0, 0, 0.02);
    }
  }
  .chart_container {
    overflow: hidden;
    background-color: var(--theme-backgroundColor);
    border-radius: 8px;
    box-shadow:
      0 1px 2px 0 rgba(0, 0, 0, 0.03),
      0 1px 6px -1px rgba(0, 0, 0, 0.02),
      0 2px 4px 0 rgba(0, 0, 0, 0.02);
  }

  .list_container {
    padding: 10px;
    overflow: auto;
    background-color: var(--theme-backgroundColor);
    border-radius: 8px;
    box-shadow:
      0 1px 2px 0 rgba(0, 0, 0, 0.03),
      0 1px 6px -1px rgba(0, 0, 0, 0.02),
      0 2px 4px 0 rgba(0, 0, 0, 0.02);
  }
}
